* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f8;
}

main {
    display: grid;
    place-items: center;
}

header {
    width: fit-content;
    margin-bottom: 4rem;
}

h1 {
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
}

hr {
    border: 3px solid #49a6e9;
    width: 80px;
    margin-inline: auto;
}

section {
    width: 38.8rem;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
}

section:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.img-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 24px;
    background-color: #49a6e9;
}

#person-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 4px;
    right: 8px;
}

.quote {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    background-color: #49a6e9;
    position: relative;
    bottom: 8.6rem;
    right: 7px;
}

svg {
    width: 20px;
}


h4 {
    width: fit-content;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.25;
    font-family: "Roboto", sans-serif;
}


p {
    margin-bottom: 20px;
    color: #617d98;
}

#author {
    margin-bottom: 5px;
    text-transform: capitalize;
    width: fit-content;
}

#job {
    width: fit-content;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    color: #49a6e9;
    font-size: 13px;
}

#info {
    margin-bottom: 13px;
    line-height: 23px;
    width: 95%;
}

.prev-btn,
.next-btn {
    color: #8bcbf9;
    font-size: 20px;
    background: transparent;
    border-color: transparent;
    margin-inline: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
    color: #49a6e9;
}

.random-btn {
    margin-top: 8px;
    background: #ebf7ff;
    color: #49a6e9;
    padding: 4px 8px;
    text-transform: capitalize;
    border-radius: 4px;
    transition: all 0.3s linear;
    border-color: #49a6e9;
    cursor: pointer;
}

.random-btn:hover {
    background: #49a6e9;
    color: #063251;
}